[Unit]
Description=zeek network analysis engine. thanks david koch, DKOCH5594

[Service]
Type=forking
PIDFile=/opt/zeek/spool/zeek/.pid
ExecStart=/opt/zeek/bin/zeekctl deploy
ExecStop=/opt/zeek/bin/zeekctl stop

[Install]
WantedBy=multi-user.target
